body{
	
}
.simple-form{
	text-align: center;
	margin-top:10px;
}
#registration{
	width:100%;
	background-color:#051019;
	opacity:0.8;
	padding:50px 0px;
}
#button{
	padding:10px;
	border-radius:5px;
	width: 250px;
	outline:0px;
}
#ph{
	outline:0px;
	padding:10px;
	border-radius:5px;
	width: 200px;
}
#pho{
	outline:0px;
	padding:10px;
	border-radius:5px;
	width: 70px;
}
#rd{
	
}
#but{
	color: black;
	font-size: 18px;
}
#butt{
	padding:10px;
	border-radius:5px;
	width: 250px;
	outline:0px;
	background-color: #0c6996;
	border: 2px solid #01010c;
	color: aliceblue;
	font-size : 18px;
}